{% extends "base.html" %}

{% block mainContent %}
<div class="container">
    <h2>Temperature Sensor: {{ sensor.name }}</h2>
    <div id="graphContainer">
    </div>
    <div id="details">
        <ul>
            <li>Max: {{sensor.max}}</li>
            <li>Min: {{sensor.min}}</li>
            <li>Avg: {{sensor.avg}}</li>
        <ul></ul>
    </div>
</div>
        <!-- Example row of columns -->
{% endblock %}
    

{% block javascript %}
{% autoescape off %}
$(document).ready(function () {
    var chart = c3.generate({
    bindto: '#graphContainer',
    data: {
        x: 'x',
        columns: [
            //['x', '2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04', '2013-01-05', '2013-01-06'],
            ['x', {{sensor.data.timestamp}} ],
            //['data1', 30, 200, 100, 400, 150, 250],
            ['data1', {{ sensor.data.value }}]
        ]
    },
    axis: {
        x: {
            type: 'timeseries',
            tick: {
                //format: '%Y-%m-%d %H:%M:%S'
            }
        },
        y: {
            min : 0
        },
    },
    point: { 
        show: false 
    } 
    
});
})
{% endautoescape %}
{% endblock %}